/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
	margin:0;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	background: #fff;
}
body a {
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
	/*font-family: 'Roboto Condensed', sans-serif;*/
    font-weight: 700;
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- header --*/
.w3-logo {
    float: left;
    line-height: 5px;
	position:relative;
	z-index: 999;
}
.w3-logo h1 {
    margin-top: 2px;
    font-weight: bold;
}
.navbar {
	margin-bottom: 0;
}
.navbar-nav {
    float: right;
    margin-right: -2em;
}

.w3-logo a {
    color: #ffffff;
    font-size: 33px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
}
header {
    padding: 22px 0px 0;
    width: 100%;
}
.w3-slider {
	height: 700px;
	position: relative;
	width: 100%;
}
.w3layouts-header-title {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.w3layouts-header-title h2 {
    font-weight: 200;
    font-size: 3.5em;
    background: rgba(0, 0, 0, 0.47);
    padding: 25px;
    color: #fff;
    letter-spacing: 3px;
}
/*--nav effect--*/
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

/* SHIFT */
nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #91640F;
}
nav.shift ul li a.active:after,nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a.active:after ,nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}



/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: #aaa;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}
/*--//nav effect--*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    font-size: 13px!important;
    letter-spacing: 1.5px;
    color: #fff!important;
    background: transparent;
    padding: 8px 15px;
    font-weight: 600;
}
.navbar-nav > li {
    float: left;
    margin: 0 12px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
	padding: 0;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
 .navbar-nav > li > a.active {
    color: #fff!important;
}
.dropdown-menu {
    top: 30px;
}
.header-bottom-agileits {
    position: relative;
}
/*-- search --*/
.logo-w3l.w31.sea {
    position: relative;
}
.cd-main-header {
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
.cd-main-header {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-main-content.nav-is-visible, .cd-main-header.nav-is-visible {
	-webkit-transform: translateX(-260px);
	-moz-transform: translateX(-260px);
	-ms-transform: translateX(-260px);
	-o-transform: translateX(-260px);
	transform: translateX(-260px);
}
.nav-on-left .cd-main-content.nav-is-visible, .nav-on-left .cd-main-header.nav-is-visible {
	-webkit-transform: translateX(260px);
/*-- w3layouts --*/
	-moz-transform: translateX(260px);
	-ms-transform: translateX(260px);
	-o-transform: translateX(260px);
	transform: translateX(260px);
}
.cd-header-buttons {
    position: absolute;
    display: inline-block;
    top: -53px;
    right: 0;
}
.cd-header-buttons li {
	display: inline-block;
}
.cd-search-trigger, .cd-nav-trigger {
	position: relative;
	display: block;
	width: 44px;
	height: 44px;
	overflow: hidden;
	white-space: nowrap;
	color: transparent;
	z-index: 3;
}

.cd-search-trigger::before, .cd-search-trigger::after {
	/* search icon */
	content: '';
	position: absolute;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.cd-search-trigger::before {
	top: 11px;
	left: 11px;
	width: 18px;
	height: 18px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
/*-- agileits --*/
	border:3px solid #fff;
}
.cd-search-trigger::after {
	/* handle */
	height: 3px;
	width: 8px;
	background: #fff;
	bottom: 14px;
	right: 11px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cd-search-trigger span {
	/* container for the X icon */
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.cd-search-trigger span::before, .cd-search-trigger span::after {
	/* close icon */
	content: '';
	position: absolute;
	display: inline-block;
	height: 3px;
	width: 22px;
	top: 50%;
	margin-top: -2px;
	left: 50%;
	margin-left: -11px;
	background:#f1c40f;
	opacity: 0;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}
.cd-search-trigger span::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cd-search-trigger span::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.cd-search-trigger.search-is-visible::before, .cd-search-trigger.search-is-visible::after {
	/* hide search icon */
	-moz-opacity: 0;
	opacity: 0;
}
.cd-search-trigger.search-is-visible span::before, .cd-search-trigger.search-is-visible span::after {
	/* show close icon */
	-moz-opacity: 1;
	opacity: 1;
}
.cd-search-trigger.search-is-visible span::before {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
.cd-search-trigger.search-is-visible span::after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cd-search {
	position: absolute;
	width: 100%;
	top: 145%;
	left: 0;
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-search input {
    border-radius: 0;
    border: none;
    background: rgb(31, 31, 31);
    width: 100%;
    padding: 0 5%;
	-webkit-box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: 1em;
    padding: 1em 2em;
	color: #fff;
}
.cd-search input::-webkit-input-placeholder {
	color: #fff !important;
}
.cd-search input::-moz-placeholder {
	color: #fff !important;
}
.cd-search input:-moz-placeholder {
	color: #fff !important;
}
.cd-search input:-ms-input-placeholder {
	color: #fff !important;
}
.cd-search input:focus {
	outline: none;
}
.cd-search.is-visible {
	-moz-opacity: 1;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}
/*-- //search --*/
/*-- //header --*/
.banner {
    background: url(../../amcDesign/img/bannerr.jpg)no-repeat 0px 0px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
    background-size: cover;
    min-height: 795px;
	position:relative;
}
.banner-text {
    padding: 6em 0em 0 0;
    width: 65%;
}
/*-- Slider --*/
#slider {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}
.rslides_tabs {
	list-style: none;
	padding: 0;
	background: rgba(0,0,0,.25);
	box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	font-size: 18px;
	list-style: none;
	margin: 0 auto 50px;
	max-width: 540px;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
.rslides_tabs li {
	display: inline;
	float: none;
	margin-right: 1px;
}
.rslides_tabs a {
	width: auto;
	line-height: 20px;
	padding: 9px 20px;
	height: auto;
	background: transparent;
	display: inline;
}
.rslides_tabs li:first-child {
	margin-left: 0;
}
.rslides_tabs .rslides_here a {
	background: rgba(255,255,255,.1);
	color: #fff;
	font-weight: bold;
}
.events {
	list-style: none;
}
.callbacks_container {
    position: relative;
    width: 90%;
}
.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.callbacks li {
	position: absolute;
	left: 0;
	top: 0;
}
.callbacks img {
	position: relative;
	z-index: 1;
	height: auto;
	border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 78%;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height:34px;
    width:34px;
    background: url("../images/left.png") no-repeat 0px 0px;
}
.callbacks_nav.prev {
	 left: auto;
	   background: url("../images/back.png") no-repeat 0px 0px;
	left: 18em;
}
.callbacks_nav.next {
    left: auto;
    background: url("../images/next.png") no-repeat 0px 0px;
       right: 18em;
}
.callbacks_nav:active {
	opacity: 1.0;
}

.callbacks2_nav:active {
	opacity: 1.0;
}

#slider-pager a {
	display: inline-block;
}

#slider-pager span {
	float: left;
}
#slider-pager span {
	width: 100px;
	height: 15px;
	background: #fff;
	display: inline-block;
	border-radius: 30em;
	opacity: 0.6;
}
#slider-pager .rslides_here a {
	background: #FFF;
	border-radius: 30em;
	opacity: 1;
}
#slider-pager a {
	padding: 0;
}
#slider-pager li {
	display: inline-block;
}
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	left: 0%;
	top: 0;
	width: 100%;
}
.rslides li {
	position: relative;
	display: block;
	float: none;
}
.rslides img {
	height: auto;
	border: 0;
}
.callbacks_tabs li {
	display: inline-block;
	margin: 0.5em;
}
.callbacks_tabs a {
	visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    width: 50px;
    height: 4px;
    display: inline-block;
    background: #146eb4;
}
.callbacks_here a:after {
	background:#F1C40F;
}
p.sub-para {
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
	font-weight: 300;
}
.slider-info img {
	width: 100px;
	margin: 0 auto;
}
.callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 100px;
    left: -4px;
    width: 220px;
    padding: 0;
    margin: 0 auto;
    z-index: 990;
    display: block;
    text-align: center;
}
.slider-top span{
font-weight:600;
}
.callbacks_tabs li {
    display: inline-block;
    margin: 0 -10px 0 0;
    float: left;
}
.slider-info h3 {
    font-size: 2em;
    color: #fff;
    letter-spacing: 3px;
    line-height: 48px;
    font-weight: 500;
    text-transform: uppercase;
}
.header-top-agileits {
   /* background: rgba(255, 255, 255, 0.15);*/
    padding: 1em 0;
}
ul.top-right-info-w3ls {
    float: right;
}
ul.top-right-info-w3ls li {
    list-style: none;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.5px;
    display: inline;
    float: right;
    text-align: right;
    margin-left: 25px;
}
ul.top-right-info-w3ls li span {
    font-size: 15px;
    font-weight: 500;
    color: #F1C40F;
    display: block;
}
ul.top-right-info-w3ls li a {
    color: #fff;
	text-decoration:none;
}
ul.top-right-info-w3ls li a:hover {
    color: #F1C40F;
	text-decoration:none;
}
/*-- banner-grids --*/
.w3-agileits-our-advantages-grids {
    position: absolute;
    bottom: 2em;
    width: 70%;
}
.w3l-our-advantages-grd-left {
    padding: 1em 0px 2em;
    text-align: center;
    width: 46px;
    float: left;
    margin-right: 10px;
}
.w3l-our-advantages-grd-left i {
    color: #fff;
    font-size: 26px;
}
.w3l-our-advantages-grd-right {
    padding: 0 !important;
}
.w3l-our-advantages-grd-right h4 {
    font-size: 23px;
	letter-spacing:1.5px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 8px;
    text-transform: capitalize;
    line-height: 25px;
}
.w3l-our-advantages-grd-right h4 span {
    font-weight: 600;
}
.w3layouts-our-advantages-grid {
    width: 32.5%;
    margin: 0 3px;
    background: rgba(0, 0, 0, 0.68);
    padding: 1em;
    border-bottom: 3px solid transparent;
}
.w3layouts-our-advantages-grid:hover {
    border-bottom:3px solid #F1C40F;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
}
.w3l-our-advantages-grd-right a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-top: 8px;
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    outline: none;
}
.w3l-our-advantages-grd-right a span {
    color: #146eb4;
}
.w3l-our-advantages-grd-right a:hover {
    color: #f1c40f;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*-- //banner-grids --*/
/*-- //banner --*/
/*-- registration --*/
ul.agile_forms {
    float: left;
}
ul.agile_forms li a i {
    color: #F1C40F;
    font-size: 17px;
    padding-right: 4px;
}
ul.agile_forms li {
    display: inline-block;
    list-style: none;
}
ul.agile_forms li a {
    /* background: #f1c40f; */
    color: #fff;
    font-size: 0.8em;
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
}
ul.agile_forms li a:focus {
   outline:none;
}
.signin-form {
	    padding: 0em 1em 1em 1em;
    text-align: center;
}
.signin-form h3, h3.agileinfo_sign, .modal-info h3 {
    font-size: 1.5em;
    color: #212121;
    font-weight: 700;
    margin: 1em 0 0.8em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.modal-info h3 span  {
    color: #146eb4!important;
	line-height: 35px!important;
}
h3.agileinfo_sign  {
	text-align:center;
}
.signin-form h3 span {
    color: #67e1ff;
}
.signin-form img {
    width:100%;
}
.login-form {
    margin: 1em 0 2.5em;
}
.signin-form input[type="email"],.signin-form input[type="text"], .signin-form input[type="password"],.signin-form textarea {
    width: 100%;
    padding: 1em 1em 1em 1em;
    font-size: 0.8em;
    margin: 0.5em 0;
    outline: none;
    color: #212121;
    border: none;
    border: 1px solid #ccc;
    letter-spacing: 1px;
    text-align: center;
}
.signin-form input[type="email"] {
    background: none;
    display: block;
}
.signin-form input[type="text"] {
    background: none;
    display: block;
}
.signin-form input[type="password"] {
     background: none;
    display: block;
}
.signin-form ::-webkit-input-placeholder{
	color:#212121 !important;
}
.signin-form ::-webkit-textarea-placeholder{
	color:#212121 !important;
}
.signin-form textarea {
	min-height:100px;
}
.signin-form input[type="submit"] {
    outline: none;
    padding: 0.8em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #FFFFFF;
	text-transform:uppercase;
    cursor: pointer;
      background: #f1c40f;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
	
}
.signin-form input[type="submit"]:hover {
    color: #fff;
       background: #146eb4;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.signin-form p a {
    font-size: 0.875em;
    color: #212121;
    letter-spacing: 1px;
}
.login-social-grids{
    margin: 1em 0;
}
.login-social-grids ul {
    padding: 0;
    margin: 0;
}
.login-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.login-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.login-social-grids ul li a i.fa.fa-facebook, .login-social-grids ul li a i.fa.fa-twitter, .login-social-grids ul li a i.fa.fa-rss {
    height: 35px;
    width: 35px;
    border: solid 2px #212121;
    border-radius: 50px;
    line-height: 31px;
    background: none;
    color: #212121;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.login-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background:#3b5998;
    color: #FFFFFF;
}
.login-social-grids ul li a i.fa.fa-twitter:hover{
	border: solid 2px #55acee;
	background:#55acee;
	color: #FFFFFF;
}
.login-social-grids ul li a i.fa.fa-rss:hover{
	border: solid 2px #f26522;
	background:#f26522;
	color: #FFFFFF;
}
.modal-header .close{
	float:right!important;
}
.form-control:focus {
    border: 1px solid #ccc;
    outline: 0;
	 box-shadow:none!important;
}
/*-- //registration --*/
/*--placeholder-color--*/

::-webkit-input-placeholder{
	color:#fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}
/*--//placeholder-color--*/

/*-- modal --*/
.modal-content img {
    width: 100%;
    margin-top: 2em;
}
.modal-content h4 {
    color: #f74f08;
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
}
.modal-content h5 {
    color: #1ca0de;
    padding: 20px 0 6px;
    font-size: 22px;
    margin-left: 0px;
}
.modal-content p {
    color: #000;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    word-spacing: 1px;
}
.modal-header {
    min-height: 16.42857143px;
    padding: 20px 30px;
}
 .modal-dialog {
    width: 600px;
    margin: 109px auto;
}
/*-- //modal --*/
/*-- main --*/
h5.title-w3 {
    font-size: 2.2em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1em;
    color: #000;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}
.white-agileits{
	color:#fff!important;
}
.about-w3layouts,.team-w3-agileits,.testimonials,.gallery{
    padding: 5em 0;
}
.team-w3-agileits{
    padding-bottom: 0em!important;
}
.para-agileits-w3layouts {
    font-size: 16px;
    color: #777;
    letter-spacing: .6px;
    line-height: 33px;
}
.red-w3ls{
	color:red!important;
	display:inline-block!important;
}
.button-w3layouts a {
    display: inline-block;
    padding: 13px 37px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 1.5em;
    color: #fff;
    background: #F1C40F;
	text-decoration:none;
	transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    
}
.button-w3layouts a:hover {
	background:#146eb4;
}
/*--// main --*/
/*--about --*/
.about-left-agileits {
    background: url(../images/about.jpg)no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    width: 40%;
    float: left;
    padding: 0;
    min-height: 395px;
}
h3.subheading-agileits-w3layouts {
    color: #146eb4;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
    text-transform: capitalize;
    font-family: 'Roboto Condensed', sans-serif;
}
.pos-w3ls {
    margin-top: 2em;
}
.pos-w3ls h4 {
    font-size: 36px;
    border-right: 3px solid #555;
    float: left;
	color:#000;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-right: 10px;
    margin-right: 5px;
}
.pos-w3ls p {
    display: inline-block;
    font-size: 23px;
    line-height: 18px;
    letter-spacing: 2px;
    float: left;
    color: #555;
}
.about-top {
    text-align: center;
    width: 73%;
    margin: 0em auto 2em;
}
.about-right {
    padding: 2.5em 6em 0;
    width: 60%;
    float: left;
    background: none;
}
/*--// about --*/
/*--services--*/
.services{
	background:#146eb4;
}
.services-left h5.title-w3 {
    margin-top: 1.5em;
    line-height: 1.52em;
}
.services-info ul {
    width: 50%;
    float: left;
}
.services-info ul li {
    list-style: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 25px;
    text-transform: uppercase;
}
.services-info ul li:nth-child(1){
    margin-top: 0px!important;
}
.services-info ul li i {
    padding-right: 16px;
    color: #F1C40F!important;
    font-size: 30px;
}
/*--//services--*/
/*--Team--*/

/*--//Team--*/
/*-- gallery --*/
.agile_gallery_grid{
	padding:0;
}

.agileits_w3layouts_gallery_grid{
	position: relative;
	overflow: hidden;
}

.agileits_w3layouts_gallery_grid:hover .caption{
	opacity: 1;
	transform: translateY(-137px);
	-webkit-transform:translateY(-137px);
	-moz-transform:translateY(-137px);
	-ms-transform:translateY(-137px);
	-o-transform:translateY(-137px);
	z-index: 999;
}

.agileits_w3layouts_gallery_grid:hover img{
	opacity: 1;
	transform: translateY(-40px);
	-webkit-transform:translateY(-40px);
	-moz-transform:translateY(-40px);
	-ms-transform:translateY(-40px);
	-o-transform:translateY(-40px);
}


.agileits_w3layouts_gallery_grid img{
	margin: 0px;
	padding: 0px;
	z-index: 4;
}


.agileits_w3layouts_gallery_grid .caption{
	position: absolute;
	opacity: 0;
	top:301px;
	-webkit-transition:all 0.15s ease-in-out;
	-moz-transition:all 0.15s ease-in-out;
	-o-transition:all 0.15s ease-in-out;
	-ms-transition:all 0.15s ease-in-out;
	transition:all 0.15s ease-in-out;

}

.agileits_w3layouts_gallery_grid img{
	-webkit-transition:all 0.15s ease-in-out;
	-moz-transition:all 0.15s ease-in-out;
	-o-transition:all 0.15s ease-in-out;
	-ms-transition:all 0.15s ease-in-out;
	transition:all 0.15s ease-in-out;

}
.agileits_w3layouts_gallery_grid .blur{
	background-color:#146eb4;
	z-index: 5;
	position: absolute;
}

.agileits_w3layouts_gallery_grid .caption-text h3{
	text-transform: uppercase;
	font-size: 1.2em;
	color: #000;
}
.agileits_w3layouts_gallery_grid .caption-text p{
	color:#fff;
	line-height:2em;
	margin:.5em 0 0;
}
.agileits_w3layouts_gallery_grid .caption-text{
	z-index: 10;
	position: absolute;
	text-align: center;
	top:20px;
}
.agileits_w3layouts_gallery_grid .caption-text,.agileits_w3layouts_gallery_grid .blur{
	height: 90px;
	width: 380px;
}
.w3_agileits_gallery_grid .caption {
    top: 554px;
}
/*-- //gallery --*/
/*-- Testimonials --*/
.wthree_testimonials_grid_pos img {
    padding: 10px;
    border: 5px solid #146eb4;
    width: 140px;
}
.wthree_testimonials_grid {
    position: relative;
    margin: 4em auto 0;
    background: #EDEDED;
    padding: 6em 5em 3em;
}
.wthree_testimonials_grid1,.wthree_testimonials_grid{
	width: 70%;
}
.wthree_testimonials_grid:after {
    content: '';
    width: 4%;
    height: 10px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid #ededed;
    position: absolute;
    bottom: -6%;
    right: 10%;
}
.wthree_testimonials_grid h4{
	font-size:1.3em;
	color:#212121;
	line-height:1.5em;
}
.wthree_testimonials_grid p {
    color: #999;
    line-height: 2em;
    margin: 1em 0 0;
    font-size: 1em;
}
.wthree_testimonials_grid_pos {
    position: absolute;
    top: -22%;
    left: 10%;
}
.wthree_testimonials_grid1{
	text-align:right;
	margin: 0 auto;
}
.wthree_testimonials_grid1 h5 {
    font-size: 1.3em;
    letter-spacing: 0.88px;
    color: #146eb4;
    margin: 1.5em 0 1em;
}
.wthree_testimonials_grid1 p {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
}
/*--flexisel--*/
.flex-slider{	
	background:#222227;
	padding: 70px 0 165px 0;
}
.opportunity{
	background:#28282e;
	margin:0px 20px;
	padding:80px 0;
	position:relative;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
    padding: 0;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:50px;
	height:50px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	top:43% !important;
}
.nbs-flexisel-nav-left {
	left: 13%;
    background:url(../images/right.png) no-repeat 10px 11px #F1C40F;
}
.nbs-flexisel-nav-right {
	right: 13%;
	background:url(../images/left.png) no-repeat 14px 12px #F1C40F;
}
/*--//flexisel--*/
.wthree_testimonials_grid_main {
    padding-bottom: 1em;
}
.testimonials {
    background:#000;
}
/*-- //Testimonials --*/
/*--contact--*/
.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
    font-size: 15px;
    letter-spacing: .8px;
    color: #26272b;
    padding: 0.5em 1em;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #b9b9b9;
    background: none;
    -webkit-appearance: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}
.contact-form textarea {
    min-height: 80px;
    resize: none;
}
.contact-form,.contact-right-wthree{
	    padding: 3em 9em;
}

.contact-form {
    border-right: 2px solid #eee;
}
.subscribe-w3-agile {
    padding: 1.5em 9em;
    background: #146eb4;
}
.subscribe-w3-agile h6 {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 3px;
    padding-bottom: 1em;
}
.subscribe-w3-agile form {
    position: relative;
}
.subscribe-w3-agile input[type="email"] {
    border: none;
    background: transparent;
    font-size: 14px;
    letter-spacing: .8px;
    padding: 16px 120px 16px 16px;
    border-bottom: 2px solid #f1c40f;
    color: #fff;
	width:100%;
	outline:none;
}
.subscribe-w3-agile input[type="submit"] {
    border: none;
    background: #f1c40f;
    font-size: 14px;
    color: #fff;
    letter-spacing: .8px;
    padding: 17px 25px;
    position: absolute;
    right: 0;
    bottom: 0;
    outline: none;
}
/*-- input-effect --*/
.styled-input input:focus ~ label, .styled-input input:valid ~ label,.styled-input textarea:focus ~ label ,.styled-input textarea:valid ~ label{
    font-size: .9em;
    color: #146eb4;
    top: -1.3em;
    -webkit-transition: all 0.125s;
	-moz-transition: all 0.125s; 
	-o-transition: all 0.125s;
	-ms-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input {
    width: 100%;
    margin: 1em 0 1em 0em;
    position: relative;
    float: left;
}
.styled-input:nth-child(1),.styled-input:nth-child(3){
	margin-left:0;
}
.textarea-grid{
	float:none !important;
	width:100% !important;
	margin-left:0 !important;
}
.styled-input label {
	    padding: 0.5em .9em;
    position: absolute;
    top: 0;
    color: #5b5b5d;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 600;
    font-size: .9em;
    display: block;
    line-height: 1em;
}
.styled-input input ~ span,.styled-input textarea ~ span {
	display: block;
    width: 0;
    height: 2px;
    background: #146eb4;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input textarea ~ span { 
    bottom: 5px; 
}
.styled-input input:focus.styled-input textarea:focus { 
	outline: 0; 
} 
.styled-input input:focus ~ span,.styled-input textarea:focus ~ span {
	width: 100%;
	-webkit-transition: all 0.075s;
	-moz-transition: all 0.075s;  
	transition: all 0.075s; 
} 
/*-- //input-effect --*/
.contact-form input[type="submit"] {
    outline: none;
    color: #FFFFFF;
    padding: 13px 35px;
    font-size: 14px;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #f1c40f;
    border: none;
   transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
}
.contact-form input[type="submit"]:hover {
       background: #146eb4;

}
.address-w3layouts {
    width: 49%;
    float: left;
}
.address-w3layouts:nth-child(2) {
    margin-right:9px;
}
.address-w3layouts h6 {
    color: #146eb4;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 1.5em 0 1em;
}
.address-w3layouts p {
    color: #777;
    font-size: 13px;
    letter-spacing: 0.8px;
    line-height: 25px;
}
.address-w3layouts h4, .address-w3layouts h4 a {
    color: #000;
    font-size: 23px;
    letter-spacing: 1px;
    margin-top: 1.6em;
    text-decoration: none;
}
/*--//contact--*/
/*-- footer --*/
.map-w3-agileits iframe{
	width:100%;
	height:400px;
	border:none;
}
.w3l-social ul{
	padding:0;
	margin:0;
}
.w3l-social ul li{
	display:inline-block;
}
.w3l-social ul li a {
	color: #333;
    text-align: center;
}
.w3l-social ul li a i.fa.fa-facebook, .w3l-social ul li a i.fa.fa-twitter, .w3l-social ul li a i.fa.fa-google-plus {
    height: 35px;
    width: 35px;
    background: #FFFFFF;
    line-height: 37px;
    margin-left: 3px;
    color: #383838;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.w3l-social ul li a i.fa.fa-facebook:hover {
	background: #3b5998;
	color: #FFFFFF;
}
.w3l-social ul li a i.fa.fa-twitter:hover{
	background: #1da1f2;
	color: #FFFFFF;
}
.w3l-social ul li a i.fa.fa-google-plus:hover{
	background: #dd4b39;
	color: #FFFFFF;
}
.w3l-social {
    float: right;
}
.w3l_footer {
    background: #1b1b1b;
    padding: 1.5em 0;
}
.botttom-nav-agileits ul.nav-w3ls {
    text-align: center;
    margin-top: 5px;
}
.botttom-nav-agileits ul.nav-w3ls li {
    list-style: none;
    display: inline-block;
    margin: 0px 15px;
}
.botttom-nav-agileits ul.nav-w3ls li a {
    text-decoration: none;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.botttom-nav-agileits ul.nav-w3ls li:hover a {
    color: #F1C40F!important;
}
ul.nav-w3ls {
    float: left;
}
.w3l_footer h2 a {
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
	text-decoration:none;
}
.w3l_footer h2 a:hover,.w3l_footer h2 a:focus {
    color: #fff;
	text-decoration:none;
	outline:none;
}
.w3l_footer h2 a span {
    color: #F1C40F;
	padding-right:5px;
}
.copyright-wthree p {
    color: #fff;
    font-size: 13px;
    letter-spacing: 3px;
    padding-top: 1.5em;
    margin-top: 1.5em;
    border-top: 2px solid #2b2b2b;
    word-spacing: 1px;
    text-align: center;
}

.copyright-wthree a {
	    color: #1ca0de;
	text-decoration: none;
}
.copyright-wthree a:hover {
    color: #ffffff;
}
/*-- //Footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 1%;
	overflow: hidden;
	z-index: 999; 
    width: 64px;
    height: 64px;
	border: none;
	text-indent: 100%;
	background: url("../images/arr.png") no-repeat 0px 0px;
	background-size: 40px;
}
#toTopHover {
    width: 64px;
    height: 64px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*--responsive--*/
@media(max-width:1600px){
	.w3-agileits-our-advantages-grids {
		width: 73%;
	}
}
@media(max-width:1440px){
	.contact-form, .contact-right-wthree {
		padding: 3em 8em;
	}
	.w3-agileits-our-advantages-grids {
		width: 81%;
	}
	.subscribe-w3-agile {
		padding: 1.5em 7em;
	}
}
@media(max-width:1366px){
	h5.title-w3 {
		font-size: 2.1em;
		margin-bottom: 0.8em;
	}
	.about-w3layouts, .team-w3-agileits, .testimonials, .gallery {
		padding: 4em 0;
	}
	.w3-agileits-our-advantages-grids {
		width: 100%;
	}
	.banner-text {
		padding: 1em 0em 0 0;
	}
	.banner {
		min-height: 640px;
	}
	h3.subheading-agileits-w3layouts {
		font-size: 23px;
	}
	.services-info ul li {
		font-size: 15px;
	}
	.services-info ul li i {
		font-size: 25px;
	}
	.services-left h5.title-w3 {
		margin-top: 1.3em;
		line-height: 1.4em;
	}
	.contact-form, .contact-right-wthree {
		padding: 3em 7em;
	}
	.pos-w3ls h4 {
		font-size: 33px;
	}
	.pos-w3ls p {
		font-size: 21px;
	}
	.w3layouts-our-advantages-grid {
    width: 24.5%;
    margin: 0 3px;
    background: rgba(0, 0, 0, 0.68);
    padding: 1em;
    border-bottom: 3px solid transparent;
}
.w3l-our-advantages-grd-right h4 {
    font-size: 17px;
    }
}
@media(max-width:1280px){
	.contact-form, .contact-right-wthree {
		padding: 3em 5em;
	}
	.subscribe-w3-agile {
		padding: 1.5em 5em;
	}
	.w3-agileits-our-advantages-grids {
		width: 91.5%;
	}
	.w3l-our-advantages-grd-right h4 {
		font-size: 21px;
		margin: 0 0 4px;
	}
	.map-w3-agileits iframe {
		height: 350px;
	}
	.navbar-nav > li {
		margin: 0 6px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 12px!important;
	}
	.about-right {
		padding: 2.5em 4em 0;
	}
}
@media(max-width:1080px){
	.slider-info h3 {
		font-size: 1.7em;
		line-height: 41px;
	}
	.w3-logo a {
		font-size: 30px;
	}
	.w3-agileits-our-advantages-grids {
		width: 89%;
	}
	.para-agileits-w3layouts {
		font-size: 15px;
		letter-spacing: .5px;
		line-height: 31px;
	}
	.about-left-agileits {
		min-height: 350px;
	}
	.pos-w3ls {
		margin-top: 1.3em;
	}
	.about-right {
		padding: 2em 3em 0;
	}
	h5.title-w3 {
		font-size: 1.8em;
		margin-bottom: 0.7em;
	}
	.agileits_w3layouts_gallery_grid .caption-text, .agileits_w3layouts_gallery_grid .blur {
		width: 313px;
	}
	.agileits_w3layouts_gallery_grid .caption {
		top: 256px;
	}
	.w3_agileits_gallery_grid .caption {
		top: 465px !important;
	}
	.w3_agile_map iframe {
		min-height: 400px;
	}
	.wthree_mail_grid_right {
		padding: 1.5em 1em;
	}
	.agileits_w3layouts_gallery_grid .caption-text p {
		font-size: 14px;
		letter-spacing: 0.8px;
	}
	.wthree_testimonials_grid p {
		line-height: 32px;
		margin: .8em 0 0;
		font-size: 15px;
	}
	.wthree_testimonials_grid_pos {
		left: 12.3%;
	}
	.wthree_testimonials_grid1 h5 {
		font-size: 1.2em;
		letter-spacing: 0.8px;
	}
	.wthree_testimonials_grid1 p {
		font-size: 13.5px;
	}
	.contact-form, .contact-right-wthree {
		padding: 2.5em 2.5em;
	}
	.subscribe-w3-agile {
		padding: 1.5em 2.5em;
	}
	.address-w3layouts h4, .address-w3layouts h4 a {
		font-size: 21px;
	}
	.banner-text {
		padding: 6em 0em 0 0;
	}
	.banner {
		min-height: 590px;
	}
	.about-w3layouts, .team-w3-agileits, .testimonials, .gallery {
		padding: 3.5em 0;
	}
}
@media(max-width:1050px){
	.w3-agileits-our-advantages-grids {
		width: 92.5%;
	}
	.contact-form {
		border-bottom: 2px solid #eee;
		border-right: none;
		width: 100%;
	}
	.contact-form,.contact-right-wthree,.subscribe-w3-agile{
		width: 100%;
		padding-left:4em;
		padding-right:4em;
	}
	.address-w3layouts h6 {
		margin: 0.5em 0 1em;
	}
	#toTop {
		right: 1.8%;
		width: 40px;
		height: 40px;
	}
}
@media(max-width:1024px){
	.w3-agileits-our-advantages-grids {
		width: 94.5%;
	}
}
@media(max-width:991px){
	.w3layouts-our-advantages-grid {
		float: left;
	}
	.navbar-nav {
		margin-right: 2.5em;
	}
	.w3-logo a {
		font-size: 26px;
		letter-spacing: 1.5px;
	}
	.navbar-nav > li {
		margin: 0 0px;
	}
	nav ul li a {
		margin: 0 5px;
	}
	.w3-logo h1 {
		margin-top: 0px;
	}
	.w3-agileits-our-advantages-grids {
		width: 97.5%;
		left: 0.95em;
	}
	.slider-info h3 {
		font-size: 1.5em;
		line-height: 34px;
	}
	.banner-text {
		padding: 4em 0em 0 0;
		width: 85%;
	}
	.callbacks_tabs {
		top: 75px;
	}
	.banner {
		min-height: 500px;
	}
	.w3l-our-advantages-grd-right h4 {
		font-size: 19px;
	}
	.about-top {
		width: 100%;
		margin: 0em auto 1.5em;
	}
	.about-left-agileits {
		width: 100%;
		float: none;
	}
	.about-right {
		padding: 2em 0em 0;
		width: 100%;
		float: none;
	}
	.pos-w3ls h4 {
		font-size: 28px;
		letter-spacing: 0.5px;
		padding-right: 6px;
		margin-right: 7px;
	}
	.pos-w3ls p {
		font-size: 17px;
		line-height: 15px;
	}
	.services-left h5.title-w3 {
		margin-top: 0em;
	}
	.services-info ul {
		padding-left: 4.7em;
	}
	.services-info ul li {
		font-size: 14px;
		margin-top: 18px;
	}
	.wthree_team_grid1_pos {
		bottom: -4.5%;
	}
	.agile_gallery_grid {
		float: left;
		width: 33.33%;
	}
	.agileits_w3layouts_gallery_grid .caption-text, .agileits_w3layouts_gallery_grid .blur {
		width: 240px;
		height: 75px;
	}
	.agileits_w3layouts_gallery_grid .caption-text h3 {
		font-size: 1em;
	}
	.agileits_w3layouts_gallery_grid .caption-text p {
		font-size: 13px;
	}
	.agileits_w3layouts_gallery_grid .caption-text {
		top: 15px;
	}
	.w3_agileits_gallery_grid .caption {
		top: 382px !important;
	}
	.agileits_w3layouts_gallery_grid .caption {
		top: 222px;
	}
	.wthree_testimonials_grid_pos {
		top: -18%;
	}
	.wthree_testimonials_grid:after {
		bottom: -4%;
	}
	.wthree_testimonials_grid1, .wthree_testimonials_grid {
		width: 95%;
	}
	.wthree_testimonials_grid {
		padding: 6em 5em 3em;
	}
	.nbs-flexisel-nav-left {
		left: 0%;
	}
	.nbs-flexisel-nav-right {
		right: 0%;
	}
	.wthree_testimonials_grid_pos {
		top: -22%;
		left: 9.3%;
	}
	.contact-form, .contact-right-wthree {
		padding: 3.5em 4em;
	}
	.w3l_footer h2 {
		width: 100%;
		float: none;
		text-align: center;
		margin-bottom: .5em;
	}
	.botttom-nav-agileits ul.nav-w3ls {
		margin-top: 0;
		float: none;
	}
	.w3l-social {
		float: none;
		text-align: center;
		margin-top: 1em;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 11px!important;
	}
	.w3l-our-advantages-grd-right h4 {
		font-size: 18px;
	}
	.w3-agileits-our-advantages-grids {
		width: 97.5%;
		left: 0.8em;
	}
	.signin-form h3, h3.agileinfo_sign, .modal-info h3 {
		font-size: 1.3em;
	}
	ul.top-right-info-w3ls li {
		margin-left: 23px;
	}
}
@media(max-width:900px){
	h5.title-w3 {
		font-size: 1.6em;
	}
	.wthree_testimonials_grid_pos {
		left: 12%;
	}
	ul.agile_forms li a {
		font-size: 0.73em;
	}
}
@media(max-width:800px){
	.w3l-our-advantages-grd-left {
		width: 33px;
	}
	.w3layouts-our-advantages-grid {
		padding: 0.7em;
	}
	.w3l-our-advantages-grd-right h4 {
		font-size: 17px;
	}
	.contact-form, .contact-right-wthree, .subscribe-w3-agile {
		padding-left: 2.5em;
		padding-right: 2.5em;
	}
	.w3-agileits-our-advantages-grids {
		left: 0.7em;
	}
	.copyright-wthree p {
		font-size: 12px;
		letter-spacing: 2px;
		padding-top: 1.7em;
	}
}
@media(max-width:768px){
	.w3l-our-advantages-grd-right h4 {
		letter-spacing: 1px;
	}
	ul.top-right-info-w3ls li span {
		font-size: 13px;
	}
	ul.top-right-info-w3ls li {
		font-size: 12px;
	}
	ul.agile_forms li a {
		font-size: 0.7em;
	}
	ul.agile_forms li a i {
		font-size: 16px;
		padding-right: 1px;
	}
	.cd-search input {
		font-size: 14px;
	}
	.cd-search {
		top: 100%;
	}
	.callbacks_tabs a:after {
		width: 35px;
	}
	.slider-info h3 {
		font-size: 1.3em;
		line-height: 34px;
		letter-spacing: 2px;
	}
	.banner-text {
		padding: 2em 0em 0 0;
		width: 70%;
	}
	.banner {
		min-height: 440px;
	}
	.w3-agileits-our-advantages-grids {
		left: 0.6em;
		bottom: 1.5em;
	}
	.wthree_testimonials_grid h4 {
		font-size: 1.2em;
	}
}
@media(max-width:767px){
	.navbar-nav {
		float: none;
		margin: 10px!important;
	}
	.navbar-default .navbar-toggle {
		border-color: #ffffff;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #f1c40f;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}
	div#bs-example-navbar-collapse-1 {
		background: rgba(0, 0, 0, 0.83);
		margin: 0;
		padding: 0px 0;
		position: absolute;
		width: 100%;
		z-index: 999;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		text-align: center;
	}
	.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
			padding: 5px 0px 5px 0px;
		}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #1ca0de;
	}
	.navbar-nav > li {
		float:none;
		display: block;
		text-align: center;
		margin-bottom: 10px;
	}
	.navbar-nav > li:nth-child(5) {
		margin-bottom: 0!important;
	}
	.navbar-toggle {
		margin-top: 0px;
		margin-right: 49px;
		margin-bottom: 0px;
	}
	
	
	
	
	.signin-form input[type="submit"] {
		font-size: 14px;
		letter-spacing: 1px;
	}
	.about-w3layouts, .team-w3-agileits, .testimonials, .gallery {
		padding: 2.5em 0;
	}
	h5.title-w3 {
		font-size: 1.5em;
	}
	.pos-w3ls h4 {
		font-size: 24px;
	}
	.pos-w3ls p {
		font-size: 15px;
		line-height: 13px;
		letter-spacing: 1.5px;
	}
	.button-w3layouts a {
		padding: 10px 25px;
		font-size: 13px;
	}
	h3.subheading-agileits-w3layouts {
		font-size: 21px;
	}
	.services-info ul li {
		font-size: 13px;
		margin-top: 15px;
	}
	.services-info ul li i {
		font-size: 19px;
	}
	.wthree_team_grid2 {
		padding: 1em 0 1em;
	}
	.contact-form, .contact-right-wthree, .subscribe-w3-agile {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
	.contact-form, .contact-right-wthree {
		padding: 2.5em 1.5em;
	}
	.modal-dialog {
		width: 85%;
		margin: 40px auto;
	}
	.subscribe-w3-agile h6 {
		letter-spacing: 2px;
	}
}
@media(max-width:736px){
	.w3layouts-our-advantages-grid {
		width: 100%;
		margin: 0.3em auto 0;
		padding: 1em 2em;
		float: none;
		background: rgb(0, 0, 0);
	}
	.w3-agileits-our-advantages-grids {
		bottom: -22.65em;
		width: 100%;
		left: 0;
	}
	.banner {
		min-height: 320px;
		margin-bottom: 22.65em;
	}
	.agileits_w3layouts_gallery_grid .caption-text p {
		margin: 0.1em 0 0;
	}
	.w3_agileits_gallery_grid .caption {
		top: 370px !important;
	}
	.address-w3layouts h4, .address-w3layouts h4 a {
		font-size: 18px;
		margin-top: 1em;
	}
	.subscribe-w3-agile input[type="email"] {
		font-size: 13px;
		padding: 10px 118px 10px 12px;
	}
	.subscribe-w3-agile input[type="submit"] {
		font-size: 13px;
		padding: 11px 25px;
	}
	.w3l_footer h2 a {
		font-size: 23px;
	}
}
@media(max-width:667px){
	ul.agile_forms li a {
		padding: 8px 6px;
	}
	ul.top-right-info-w3ls li {
		margin-left: 18px;
	}
	.w3-logo a {
		font-size: 23px;
	}
	.slider-info h3 {
		font-size: 1.2em;
		line-height: 28px;
	}
	header {
		padding: 15px 0px 0;
	}
	.banner {
		min-height: 290px;
	}
	.callbacks_tabs {
		top: 55px;
	}
	.agileits_w3layouts_gallery_grid .caption-text, .agileits_w3layouts_gallery_grid .blur {
		width: 207px;
	}
	.agileits_w3layouts_gallery_grid .caption-text h3 {
		font-size: .8em;
	}
	.agileits_w3layouts_gallery_grid .caption-text {
		top: 18px;
	}
	.w3_agileits_gallery_grid .caption {
		top: 338px !important;
	}
	.agileits_w3layouts_gallery_grid .caption {
		top: 200px;
	}
	.wthree_banner_bottom_grid_pos h4 {
		margin: 10em 0 0;
	}
	.wthree_testimonials_grid_pos img {
		padding: 8px;
		border: 4px solid #146eb4;
		width: 132px;
	}
	.wthree_testimonials_grid_pos {
		left: 9%;
		top: -18%;
	}
	.wthree_testimonials_grid {
		padding: 6em 3.4em 2em;
		margin: 3em auto 0;
	}
	.map-w3-agileits iframe {
		height: 250px;
	}
	ul.top-right-info-w3ls li {
		margin-left: 0;
		margin-right: 55px;
	}
	ul.top-right-info-w3ls {
		margin-top: 0.5em;
	}
	.banner-text {
		padding: 1em 0em 0 0
	}
	ul.agile_forms li a {
		padding: 0px 6px 8px;
	}
	.services-info ul {
		padding-left: 3.7em;
	}
	.agileits_w3layouts_gallery_grid .caption-text {
		top: 15px;
	}
	.wthree_testimonials_grid_pos img {
		width: 125px;
	}
	.wthree_testimonials_grid_pos {
		top: -16%;
	}
	.wthree_testimonials_grid p {
		font-size: 14px;
	}
	.wthree_testimonials_grid1 h5 {
		margin: 1em 0 .8em;
	}
	.w3l_footer {
		padding: 1.3em 0;
	}
}
@media(max-width:640px){
	.address-w3layouts {
		width: 100%;
		float: none;
	}
	.address-w3layouts:nth-child(2) {
		margin-right: 0px;
		margin-bottom: 1.5em;
	}
	.address-w3layouts h6 {
		margin: 0em 0 0.5em;
	}
	#toTop {
		right: 2%;
		bottom: 18px;
		width: 33px;
		height: 33px;
		background-size: 33px;
	}
	.modal-content p {
		font-size: 13.4px;
		line-height: 28px;
		word-spacing: 0.5px;
	}
	.signin-form h3, h3.agileinfo_sign, .modal-info h3 {
		font-size: 1.1em;
		margin: 1em 0 0.1em 0;
	}
}
@media(max-width:600px){
	.banner-text {
		width: 85%;
	}
	.services-info ul {
		padding-left: 2.8em;
	}
	h5.title-w3 {
		font-size: 1.3em;
	}
	.about-w3layouts, .team-w3-agileits, .testimonials, .gallery {
		padding: 2em 0;
	}
	.para-agileits-w3layouts {
		font-size: 13.4px;
		line-height: 28px;
	}
	.about-top {
		margin: 0em auto 1em;
	}
	.about-right {
		padding: 1.5em 0em 0;
	}
	.button-w3layouts a {
		margin-top: 1em;
	}
	.services-info ul li {
		font-size: 11px;
	}
	.agile_gallery_grid {
		float: none;
		width: 80%;
		margin: 0 auto;
	}
	.agileits_w3layouts_gallery_grid .caption-text, .agileits_w3layouts_gallery_grid .blur {
		width: 443px;
		height: 93px;
	}
	.agileits_w3layouts_gallery_grid .caption {
		top: 340px;
	}
	.w3_agileits_gallery_grid .caption {
		top: 618px !important;
	}
	.agileits_w3layouts_gallery_grid .caption-text h3 {
		font-size: 1.1em;
		margin-top: 10px;
	}
	.w3_agileits_gallery_grid .caption {
		top: 635px !important;
	}
	.agileits_w3layouts_gallery_grid .caption-text p {
		font-size: 13.4px;
	}
	.address-w3layouts h6 {
		font-size: 18px;
	}
	h3.subheading-agileits-w3layouts {
		font-size: 19px;
	}
	.contact-form, .contact-right-wthree {
		padding: 2em 1.5em;
	}
}
@media(max-width:568px){
	.agile_gallery_grid {
		float: none;
		width: 80%;
		margin: 0 auto;
	}
	.agileits_w3layouts_gallery_grid .caption-text, .agileits_w3layouts_gallery_grid .blur {
		width: 417px;
	}
	.agileits_w3layouts_gallery_grid .caption {
		top: 340px;
	}
	.w3_agileits_gallery_grid .caption {
		top: 618px !important;
	}
	.agileits_w3layouts_gallery_grid .caption-text h3 {
		margin-top: 0;
	}
	ul.top-right-info-w3ls li {
		margin-right: 35px;
	}
	.w3-logo a {
		font-size: 21px;
	}
	.slider-info h3 {
		font-size: 1.1em;
		letter-spacing: 1.5px;
	}
	.banner-text {
		width: 80%;
	}
	.w3l-social ul li a i.fa.fa-facebook, .w3l-social ul li a i.fa.fa-twitter, .w3l-social ul li a i.fa.fa-google-plus {
		height: 33px;
		width: 33px;
		font-size: 15px;
		line-height: 34px;
	}
	#toTop {
		bottom: 33px;
	}
	ul.top-right-info-w3ls li {
		margin-right: 14px;
	}
}
@media(max-width:480px){
	.banner-text {
		width: 99%;
	}
	.wthree_team_grid1_pos {
		bottom: -7.5%;
	}
	.agile_gallery_grid {
		width: 100%;
		padding: 0 1em;
	}
	.agileits_w3layouts_gallery_grid .caption-text, .agileits_w3layouts_gallery_grid .blur {
		width: 401px;
	}
	.w3_agileits_gallery_grid .caption {
		top: 597px !important;
	}
	.agileits_w3layouts_gallery_grid .caption {
		top: 329px;
	}
	.wthree_testimonials_grid_pos {
		top: -14.5%;
		left: 14%;
	}
	.contact-form input[type="submit"] {
		padding: 10px 25px;
		font-size: 13.4px;
		letter-spacing: .5px;
		margin: 0.5em 0 0 0;
	}
	.botttom-nav-agileits ul.nav-w3ls li {
		margin: 0px 10px;
	}
	.copyright-wthree p {
		padding: 1em 1em 0;
		line-height: 26px;
	}
	.w3l_footer {
		padding: 1em 0;
	}
	#toTop {
		bottom: 16px;
		right: 3%;
	}
	.services-info ul {
		padding-left: 0;
		width: 100%;
		float: none;
		text-align: center;
	}
	.services-info ul:nth-child(2) li:nth-child(1) {
		margin-top: 15px!important;
	}
}
@media(max-width:414px){
	ul.top-right-info-w3ls li {
		margin-right: 0;
		width: 100%;
		text-align: center;
		margin-top: 7px;
	}
	ul.top-right-info-w3ls {
		margin-top: 0em;
	}
	ul.agile_forms {
		float: none;
		text-align: center;
	}
	ul.agile_forms li a {
		padding: 0px 10px 0px;
	}
	.w3-logo a {
		font-size: 20px;
	}
	.w3-logo h1 {
		line-height: 25px;
	}
	.navbar-toggle {
		padding: 7px 7px;
	}
	.slider-info h3 {
		font-size: 1em;
		letter-spacing: 1px;
		line-height: 23px;
	}
	.banner-text {
		padding: 0em 0em 0 0;
	}
	header {
		padding: 15px 0px 0;
		height: 53px;
	}
	.cd-header-buttons {
		top: -55px;
	}
	.callbacks_tabs {
		top: 40px;
	}
	.banner {
		min-height: 310px;
	}
	.about-w3layouts, .team-w3-agileits, .testimonials, .gallery {
		padding: 1.5em 0;
	}
	.w3_agileits_gallery_grid .caption {
		top: 509px !important;
	}
	.agileits_w3layouts_gallery_grid .caption-text, .agileits_w3layouts_gallery_grid .blur {
		width: 335px;
	}
	.agileits_w3layouts_gallery_grid .caption {
		top: 285px;
	}
	.wthree_testimonials_grid_pos {
		top: -11.5%;
		left: 16%;
	}
	.botttom-nav-agileits ul.nav-w3ls li a {
		font-size: 10px;
	}
	.botttom-nav-agileits ul.nav-w3ls li {
		margin: 0px 7px;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 10px!important;
	}
	h5.title-w3 {
		font-size: 1.1em;
		letter-spacing: 1px;
	}
	h3.subheading-agileits-w3layouts {
		font-size: 17.5px;
	}
	.contact-form, .contact-right-wthree {
		padding: 1.5em 1em;
	}
	.address-w3layouts h4, .address-w3layouts h4 a {
		font-size: 17px;
		margin-top: 0.6em;
	}
	.about-left-agileits {
		min-height: 250px;
	}
	.signin-form input[type="submit"] {
		font-size: 13px;
	}
	.signin-form {
		padding: 0em;
	}
	.pos-w3ls h4 {
		font-size: 20px;
	}
	.pos-w3ls p {
		font-size: 13px;
		line-height: 11px;
	}
	.cd-search {
		top: 63%;
	}
}
@media(max-width:384px){
	.agileits_w3layouts_gallery_grid .caption-text, .agileits_w3layouts_gallery_grid .blur {
		width: 305px;
	}
	.w3_agileits_gallery_grid .caption {
		top: 469px !important;
	}
	.agileits_w3layouts_gallery_grid .caption {
		top: 265px;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		width: 30px;
		height: 35px;
		top: 45% !important;
	}
	.nbs-flexisel-nav-left {
		background: url(../images/right.png) no-repeat 4px 7px #F1C40F;
		background-size: 19px;
	}
	.nbs-flexisel-nav-right {
		background: url(../images/left.png) no-repeat 7px 8px #F1C40F;
		background-size: 19px;
	}
	.wthree_testimonials_grid {
		padding: 6em 2em 2em;
		margin: 3em auto 0;
	}
	.wthree_testimonials_grid h4 {
		font-size: 1.1em;
	}
	.wthree_testimonials_grid1 h5 {
		font-size: 1em;
	}
	.wthree_testimonials_grid1 p {
		font-size: 13px;
	}
	.botttom-nav-agileits ul.nav-w3ls li {
		margin: 9px 0;
		display: block;
	}
	.subscribe-w3-agile h6 {
		letter-spacing: 1.5px;
	}
	.wthree_testimonials_grid p {
		font-size: 13.4px;
		line-height: 28px;
	}
}
@media(max-width:375px){
	.w3l-our-advantages-grd-right h4 {
		font-size: 16px;
	}
	.slider-info h3 {
		font-size: 14px;
		line-height: 20px;
	}
	.banner-text {
		padding: 0.4em 0em 0 0;
	}
	.wthree_testimonials_grid_pos {
		left: 10%;
	}
	.agileits_w3layouts_gallery_grid .caption-text, .agileits_w3layouts_gallery_grid .blur {
		width: 296px;
	}
	.w3_agileits_gallery_grid .caption {
		top: 457px !important;
	}
	.agileits_w3layouts_gallery_grid .caption {
		top: 259px;
	}
	.signin-form input[type="email"], .signin-form input[type="text"], .signin-form input[type="password"], .signin-form textarea {
		font-size: 0.7em;
	}
	.w3layouts-our-advantages-grid {
		padding: 1em 1em;
	}
}
@media(max-width:320px){
	.modal-header {
		padding: 15px 20px;
	}
	.w3_agileits_gallery_grid .caption {
		top: 383px !important;
	}
	.agileits_w3layouts_gallery_grid .caption-text, .agileits_w3layouts_gallery_grid .blur {
		width: 241px;
	}
	.agileits_w3layouts_gallery_grid .caption {
		top: 224px;
	}
}
/*--responsive--*/